body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #191c32;
    width: 100%;

}

body.light-theme {
    background-color: #f0f0f0;
}


body.light-theme .sidebar {
    background-color: #ccc;
    color: #000;
}

body.light-theme h1 {
    color: black;
}

body.light-theme .section {
    background-color: #ddd;
}

body.light-theme .section::after {
    background: black;
}

body.light-theme h2 {
    color: black;
}

body.light-theme h3 {
    color: black;
}

body.light-theme p {
    color: black;
}

body.light-theme .logout-icon img {
    color: black;
}

body.light-theme .sidebar img {
    filter: invert(1);
}

body.light-theme .edit-button img {
    filter: invert(1);
}


.nav {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;

}

.sidebar {
    box-sizing: border-box;
    width: 5%;
    height: 100vh;
    background-color: rgb(31, 24, 54);
    padding: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    position: relative;

}

.sidebar a {
    font-size: 20px;
    margin-top: 28px;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.sidebar a:last-child {
    margin-bottom: 0;
}

.sidebar a:hover {
    background-color: rgba(1, 1, 155, 0.137);
    text-decoration: none;
}

.sidebar img {
    color: #ffffff;
    transition: all 0.3s ease;
}

.sidebar img:hover {
    box-shadow: 0 0 10px rgb(169, 85, 247);
    border-radius: 70%;
    background-color: rgb(9, 68, 151);
    color: #47008a;
}

.sobrepor {
    z-index: 2;
    width: 20%;
    align-items: flex-start;
}


.sanduiche img {
    margin-top: 5px;
    height: 25px;
    cursor: pointer;
}

.dashicon img {
    margin-top: 40px;
    height: 30px;
    cursor: pointer;
}

.conta img {
    margin-top: 15px;
    height: 30px;
    cursor: pointer;
}

.lembretes img {
    margin-top: 15px;
    height: 30px;
    cursor: pointer;
}
.empresas img {
    margin-top: 15px;
    height: 30px;
    cursor: pointer;
}

.main-content {
    width: 95%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 45px;
    color: white;
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.section {
    background-color: #272B4A;
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.section::after {
    /* content: ''; */
    position: absolute;
    left: 10px;
    right: 10px;
    top: 50%;
    height: 2px;
    background: white;
}

.logout {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 0;
    cursor: pointer;
}

.logout:hover {
    color: #C70039;
}

.switch {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.switch-label:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3%;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.switch-input:checked+.switch-label {
    background-color: #2196F3;
}

.switch-input:checked+.switch-label:before {
    transform: translateX(20px);
}

.logout-icon {
    width: 20px;
    height: 20px;
    transition: filter 0.3s;
}

body.light-theme .logout:hover .logoutButton {
    filter: invert(1);
    color: #C70039;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.usuario-info {
    display: flex;
    align-items: center;
    padding: 8.5px;
    border-radius: 8px;
    background-color: #272B4A;
}

.foto-usuario {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.nome-usuario {
    color: white;
}

.nome-usuario h3 {
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
}

.detalhes-usuario {
    color: white;
}

.detalhes-usuario p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

.empresa-usuario {
    color: white;
}

.empresa-usuario p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

.edit-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-editar {
    background-color: #191c32;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    width: 500px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 2px solid #ccc;
}

.modal-editar h3 {
    text-align: center;
}

.modal-editar input {
    width: 90%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fff;
    color: #000;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 45%; 
    margin: 0 5px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.form-buttons button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-buttons button.salvar {
    background-color: #4CAF50;
}

.form-buttons button.cancelar { 
    background-color: #f44336;
}

body.light-theme .modal-editar {
    background-color: #fff;
    border: 2px solid #191c32;
    color: #000;
}

body.light-theme .modal-editar input {
    background-color: #191c32;
    color: #fff;
}

.modal-content {
    background-color: #191c32;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #fff;
    text-align: center;
    width: 400px;
    color: #fff;
}

.modal-content button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content .confirmarLogout {
    background-color: #4CAF50;      
}

.modal-content .cancelarLogout {
    background-color: #f44336;
}

body.light-theme .modal-content {
    background-color: #fff;
    border: 2px solid #191c32;
    color: #000;
}


