body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#191c32;
  width: 100%;

}

.main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;

}

.sidebar {
  box-sizing: border-box;
  width: 5%;
  height: 100vh;
  background-color: rgb(31, 24, 54);
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: #fff;
  text-decoration: none;

}

.sidebar a {
  font-size: 20px;
  margin-top: 28px;
  text-decoration: none;
  padding: 10px;
  border-radius: 7px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}

.sidebar a:last-child {
  margin-bottom: 0;
}

.sidebar a:hover {
  background-color: rgba(1, 1, 155, 0.137);
  text-decoration: none;
}

.sidebar img {
  color: #ffffff;
  transition: all 0.3s ease;
}

.sidebar img:hover {
  box-shadow: 0 0 10px rgb(169, 85, 247);
  border-radius: 70%;
  background-color: rgb(9, 68, 151);
  color: #47008a;
}

.sobrepor {
  z-index: 2;
  width: 20%;
  align-items: left;
}


.sanduiche img {
  margin-top: 5px;
  height: 25px;
  cursor: pointer;
}

.dashicon img {
  margin-top: 40px;
  height: 30px;
  cursor: pointer;
}

.conta img {
  margin-top: 15px;
  height: 30px;
  cursor: pointer;
}

.lembretes img {
  margin-top: 15px;
  height: 30px;
  cursor: pointer;
}

.articlePai {
  display: flex;
  width: 100%;
  height: 100vh;
}

.article {
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articleLateral {
  width: 100%;
  height: 100%;
}

.sec1 {
  display: flex;
  padding: 10px;
  justify-content: space-between;

}

.boxKpi {
  width: auto;
  height: auto;
  background-color: #272B4A;
  margin-right: 6px;
  padding: 15px; 
  box-sizing: border-box; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  color: white; 
  border-radius: 7px;
  margin: 5px;
  text-overflow:clip;
  justify-content: center;
  
}

.textoKpi {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}

.textoKpi h5{
  margin-bottom: 5px;
  text-align: center;
}
.textoKpi .p2{
  font-size: 11px;
}
.textoKpi p{
  font-size: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.textoKpi .pKpi1{
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  justify-content: center;
}

.textoKpi .pKpi2{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

h5 {
  font-size: 14px; 
  margin: 0; 
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 16px; 
  margin: 0; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  font-family: Arial, Helvetica, sans-serif;
}

.kpiCrime{
  display: flex;
 color: #ffffff;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 7px;
  margin: 5px;
}

.secLateral {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  margin: 5px;
}

.graficoLaterais {
  box-sizing: border-box;
  width: 95%;
  height: auto;
  background-color:#272B4A;
  margin-left: 3px;
  /* border-radius: 5%; */
  padding: 5px;
  border-radius: 7px;
  margin: 5px;
}

.primeiroBox {
  margin: 10px;
}

/* .secMeio, .secBaixo{
  display: flex;
  width: 96.8%;
  height: 38%;
  margin-left: 10px;
  justify-content: space-between;
} */

.secMeio {
  display: flex;
  width: 96.8%;
  height: 30%;
  margin-left: 10px;
  justify-content: space-between;
}

.secBaixo {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}


.graficoMeio {
  width: 100%;
  height: 100%;
  background-color: #272B4A;
  /* border-radius: 5%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 10px;  */
}

.graficoBaixo {
  box-sizing: border-box;
  width: 100%;
  height: 245px;
  background-color: #272B4A;
  /* border-radius: 5%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 10px;  */
  padding: 10px;
  border-radius: 7px;
}

.secFiltro {
  width: 99%;
  height: 35px;
  margin-left: -10px;
  margin-top: 9px;
  background-color: #666666;
}

.secFiltro {
  display: flex;
  /* justify-content: space-between; */
}

.boxFiltro select {
  width: 268px;
  height: 100%;
  background-color: rgb(31, 24, 54);
  color: white;
  border-radius: 10%;
  /* border-color: black; */
}

.highcharts-title tspan {
  fill: #333366; 
  font-size: 18px;
  font-weight: bold;
}

