body {
  margin: 0;
  padding: 0;
  background-color: #191c32;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.sidebar {
  position: fixed; /* Fixar a sidebar na lateral */
  top: 0;
  left: 0;
  width: 30px; /* Ajuste aqui a largura que preferir */
  height: 100vh;
  background-color: rgb(31, 24, 54);
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
  z-index: 200;
  display: flex;
  align-items: flex-start;
}


.sidebar a {
  font-size: 20px;
  margin-top: 28px;
  text-decoration: none;
  padding: 10px;
  border-radius: 7px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}

.sidebar a:last-child {
  margin-bottom: 0;
}

.sidebar a:hover {
  background-color: rgba(1, 1, 155, 0.137);
  text-decoration: none;
}

.sidebar img {
  color: #ffffff;
  transition: all 0.3s ease;
}
.sidebar .imgMid {
  color: #ffffff;
  transition: all 0.3s ease;
  margin-left: -11px;
}

.sidebar img:hover {
  box-shadow: 0 0 10px rgb(169, 85, 247);
  border-radius: 70%;
  background-color: rgb(9, 68, 151);
  color: #47008a;
}

.sobrepor {
  z-index: 100;
  width: 20%;
  align-items: left;
}

.sanduiche img {
  margin-top: 5px;
  height: 25px;
  cursor: pointer;
}

.dashicon img {
  margin-top: 40px;
  height: 30px;
  cursor: pointer;
}

.conta img {
  margin-top: 15px;
  height: 30px;
  cursor: pointer;
}

.lembretes img {
  margin-top: 15px;
  height: 30px;
  cursor: pointer;
}

.empresas img {
  margin-top: 15px;
  height: 30px;
  cursor: pointer;
}

.articlePai {
  margin-left: 5%;  /* Deixa espaço suficiente para a sidebar fixa */
  width: 95%;  /* O conteúdo principal ocupa 95% da tela */
  height: 100vh;
  display: flex;
}

.article {
  width: 100%;
  height: 91%;
  display: flex;
  flex-direction: column;
}

.articleLateral {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  margin: 5px;
}

.sec1 {
  display: flex;
  justify-content: space-between;
}

.boxKpi {
  width: auto;
  height: auto;
  background-color: #272B4A;
  margin-right: 6px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  border-radius: 7px;
  margin: 5px;
  text-overflow: clip;
  justify-content: center;
}

.textoKpi {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.textoKpi h5 {
  margin-bottom: 5px;
  text-align: center;
}

.textoKpi .p2 {
  font-size: 11px;
}

.textoKpi p {
  font-size: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.textoKpi .pKpi1 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  justify-content: center;
}

.textoKpi .pKpi2 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

h5 {
  font-size: 14px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 16px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Arial, Helvetica, sans-serif;
}

.kpiCrime {
  display: flex;
  color: #ffffff;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 7px;
  margin: 5px;
}

.secLateral {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  align-items: center;
  margin-top: 5px;
}

.graficoLaterais {
  box-sizing: border-box;
  width: 95%;
  height: auto;
  background-color: #272B4A;
  margin-left: 3px;
  border-radius: 7px;
}

.primeiroBox {
  margin: 10px;
}

.secMeio {
  display: flex;
  width: 100%;
  height: 30%;
  margin-left: 10px;
  justify-content: space-between;
}

.secBaixo {
  display: flex;
  justify-content: space-between;
}

.graficoMeio {
  width: 100%;
  height: 100%;
  background-color: #272B4A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graficoBaixo {
  box-sizing: border-box;
  width: 100%;
  height: 91.5%;
  background-color: #272B4A;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin: 10px;
}

/* Estilos básicos para centralizar e cobrir a tela */
.load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #191c32; /* Fundo semi-transparente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Certifique-se de que está acima de outros elementos */
  margin: auto;
}

/* Estilos para centralizar a imagem */
.paiImagem {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 15px; /* Espaçamento entre a imagem e o texto */
}

/* Animação de rotação */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.casaImagem img {
  width: 150px; /* Tamanho do ícone */
  height: 150px;
  animation: spin 1s linear infinite; /* Gira continuamente */
  filter: brightness(0) invert(1);
}

/* Estilos para o texto */
.texto-load {
  font-size: 18px; /* Tamanho da fonte */
  color: #ffffff; /* Cor do texto */
  font-family: Arial, sans-serif; /* Família da fonte */
  text-align: center; /* Centraliza o texto */
}
