body {
    margin: 0;
    padding: 0;
    background-color: #191c32;
    width: 100%;
}

body.light-theme {
    background-color: #f0f0f0;
}

body.light-theme .sidebar {
    background-color: #ccc;
    color: #000;
}

body.light-theme h1 {
    color: black;
}

body.light-theme .section {
    background-color: #ddd;
}

body.light-theme .section::after {
    background: black;
}

body.light-theme h2 {
    color: black;
}

body.light-theme h3 {
    color: black;
}

body.light-theme p {
    color: black;
}

body.light-theme .logout-icon img {
    color: black;
}

body.light-theme .sidebar img {
    filter: invert(1);
}

body.light-theme .edit-button img {
    filter: invert(1);
}

.nav {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    box-sizing: border-box;
    width: 5%;
    height: 100vh;
    background-color: rgb(31, 24, 54);
    padding: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    position: fixed;  /* Fixa a sidebar */
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que a sidebar fique sobre os outros elementos */
    height: 100%; /* Faz a sidebar ocupar toda a altura da tela */
}

.sidebar a {
    font-size: 20px;
    margin-top: 28px;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.sidebar a:last-child {
    margin-bottom: 0;
}

.sidebar a:hover {
    background-color: rgba(1, 1, 155, 0.137);
    text-decoration: none;
}

.sidebar img {
    color: #ffffff;
    transition: all 0.3s ease;
}

.sidebar img:hover {
    box-shadow: 0 0 10px rgb(169, 85, 247);
    border-radius: 70%;
    background-color: rgb(9, 68, 151);
    color: #47008a;
}

.sobrepor {
    z-index: 2;
    width: 20%;
    align-items: flex-start;
}

.sanduiche img,
.dashicon img,
.conta img,
.lembretes img,
.empresas img {
    margin-top: 15px;
    height: 30px;
    cursor: pointer;
}

.main-content {
    width: 95%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 5%; /* Adiciona margem à esquerda para evitar sobreposição com a sidebar */
}

h1 {
    margin: 45px;
    color: white;
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.switch {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.switch-label:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3%;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.switch-input:checked+.switch-label {
    background-color: #2196F3;
}

.switch-input:checked+.switch-label:before {
    transform: translateX(20px);
}

.section {
    background-color: #272B4A;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.section::after {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 50%;
    height: 2px;
    background: white;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    width: 100%;
}

.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 0.3s;
}

.icon:hover {
    transform: scale(1.1);
}

.lista-usuario {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.nome-usuario {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.nome-usuario h3 {
    margin: 0;
}

.nome-usuario p {
    margin: 5px 0 0;
    color: #aaa;
}

.user-checkbox {
    margin-right: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #191c32;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #ccc;
    color: white;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.confirm-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: darkgreen;
}

.cancel-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: darkred;
}

.modal-content input {
    width: 90%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #272B4A;
    color: #fff;
}

body.light-theme .modal-content {
    background-color: #fff;
    border: 2px solid #191c32;
    color: #000;
}

body.light-theme section {
    background-color: #ddd;
}

body.light-theme .section::after {
    background: black;
}

body.light-theme .icon {
    filter: invert(1);
}


